.main-footer {
  position: relative;
  margin-top: 10rem;
  background: var(--color-primary);
  padding: 3rem;
  padding-bottom: 5rem;
  .logo {
    background: skyblue;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
  }
  .information {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    color: white;
    .heading {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    a,
    .details {
      color: white;
      margin: 0.2rem 0;
    }
  }
}
