.hero-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .small-video-container {
    position: absolute;
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    display: grid;
    place-items: center;
    pointer-events: none;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
  }
  .main-text {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5rem;
    width: 35%;
    h2 {
      font-size: 5rem;
      color: var(--color-white);
      line-height: 1;
      margin-bottom: 1rem;
    }
    p {
      width: 60%;
      line-height: 1.5;
      font-size: 1.3rem;
      color: var(--color-white);
      margin-bottom: 2rem;
    }
  }
  .secondary-text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 5rem;
    .block {
      text-align: center;
      margin: 0 1.5rem;
      h2 {
        font-size: 3rem;
        line-height: 1;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
