.image-section {
  position: relative;
  margin: 10rem 0;
  .image-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(100px, 300px);
    grid-gap: 1rem;
    grid-template-areas:
      "tl tl mid tr tr"
      "bl bl mid br1 br2";

    .wrapper {
      overflow: hidden;
    }
    .wrapper:first-of-type {
      grid-area: tl;
    }
    .wrapper:nth-of-type(2) {
      grid-area: mid;
    }
    .wrapper:nth-of-type(3) {
      grid-area: tr;
    }
    .wrapper:nth-of-type(4) {
      grid-area: br1;
    }
    .wrapper:nth-of-type(5) {
      grid-area: br2;
    }
    .wrapper:nth-of-type(6) {
      grid-area: bl;
    }
  }
}
