.dashboard {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgb(250, 250, 250);
  .dashboard-content {
    position: relative;
    background: none;
    margin: 2rem;
    margin-top: 7rem;
    flex-shrink: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
    .dashboard-card {
      position: relative;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
      background: var(--color-white);
      padding: 2rem;
      &.user-card {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 1;
        display: flex;
        align-items: center;
        .picture {
          height: 100px;
          border-radius: 50%;
          aspect-ratio: 1;
          background: var(--color-primary);
          margin-right: 1rem;
        }
        .user-identity {
          .name {
            font-size: 1.7rem;
            line-height: 1;
          }
          .id {
            color: gray;
          }
        }
      }
      &.weather-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column-start: -2;
        grid-column-end: span -1;
        grid-row-start: 1;
        grid-row-end: span 2;
        .top {
          display: flex;
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid rgb(221, 221, 221);
          justify-content: space-between;
          .heading {
            .location {
              font-size: 3rem;
              line-height: 1;
              color: var(--color-primary);
            }
            .date {
              font-size: 1;
              margin-bottom: 0.7rem;
              color: grey;
            }
            .heading-icon {
              width: 75px;
              height: 75px;
              background: var(--color-primary);
            }
          }
          .temp {
            display: flex;
            flex-direction: column;
            align-items: center;
            .current {
              font-size: 7rem;
              line-height: 1;
            }
            .range {
              display: flex;
              .high {
                margin: 0 0.3rem;
                font-size: 1.3rem;
                color: var(--color-primary);
              }
              .divider {
                margin: 0 0.3rem;
                font-size: 1.3rem;
                color: var(--color-primary);
              }
              .low {
                margin: 0 0.3rem;
                font-size: 1.3rem;
                color: gray;
              }
            }
          }
        }
        .weekly {
          display: flex;
          justify-content: space-between;
          .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon {
              border: 2px solid var(--color-primary);
              border-radius: 20%;
              height: 40px;
              width: 40px;
            }
            .num {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
      }
      &.history-card {
        position: relative;
        grid-column-start: -2;
        grid-column-end: span -1;
        grid-row-start: 3;
        grid-row-end: -1;
        // overflow: hidden;
        // overflow-y: scroll;
        table {
          border-collapse: collapse;
          tr {
            &:nth-of-type(2n + 1) {
              background: rgb(245, 245, 245);
            }
            th,
            td {
              padding: 0.5rem 1rem;
              padding-right: 5rem;
              text-align: left;
              font-weight: 400;
              font-size: 0.9rem;
              white-space: nowrap;
            }
            th {
              font-size: 0.8rem;
              border-top: 1px solid rgb(211, 211, 211);
              border-bottom: 1px solid rgb(211, 211, 211);
              color: rgb(150, 150, 150);
              background: white;
              &:first-of-type {
                border-left: 1px solid rgb(211, 211, 211);
              }
              &:last-of-type {
                border-right: 1px solid rgb(211, 211, 211);
              }
            }
            td {
              &:first-of-type {
                color: var(--color-primary);
              }
            }
          }
        }
      }
      &.vehicle-card {
        position: relative;
        display: flex;
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 2;
        grid-row-end: -1;
        padding: 0;
        .car {
          position: relative;
          padding: 2rem;
          .title {
            line-height: 1;
            font-weight: 600;
            color: var(--color-primary);
            font-size: 2rem;
          }
          .subtitle {
            font-size: 1.2rem;
            color: gray;
          }
          .stats {
            margin: 2rem;
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            .block {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-right: 1.5rem;
              font-size: 1.1rem;
              h4 {
                font-weight: 600;
                font-size: 3rem;
                line-height: 1;
                color: var(--color-primary);
              }
              .sub {
                color: gray;
              }
            }
          }
          img {
            transform: scaleX(-1);
          }
          .buttons {
            display: flex;
            justify-content: center;
          }
        }
        .info-container {
          display: flex;
          flex-direction: column;
          width: 50%;
          .calendar {
            background: rgb(221, 221, 221);
            flex-grow: 1.4;
          }
          .information {
            background: var(--color-primary);
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            flex-grow: 0.6;
            .data {
              font-size: 1rem;
              color: var(--color-white);
              line-height: 0.9;
              margin: 0.4rem 0;
              span {
                font-weight: 600;
                color: rgb(204, 204, 204);
              }
            }
          }
        }
      }
    }
  }
}
