.dashboard {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  .dashboard-content {
    position: relative;
    margin: 2rem;
    margin-top: 5rem;
    flex-shrink: 2;
    .dashboard-container {
      display: flex;
      flex-wrap: wrap;
      .dashboard-card {
        position: relative;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        margin: 1rem;
        flex-shrink: 0;
        h2 {
          font-size: 2.7rem;
          font-weight: 400;
          line-height: 0.9;
          letter-spacing: 0.1rem;
        }
        p {
          margin: 0.7rem 0;
        }
        button {
          background: none;
          padding: 0;
        }
        &.weather-card {
          display: flex;
          .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            .icon {
              border: 2px solid var(--color-primary);
              border-radius: 20%;
              height: 40px;
              width: 40px;
            }
            .num {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
