.sidebar {
  position: relative;
  height: 100%;
  width: 82px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  .sidebar-toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 1.5rem;
    svg {
      height: 100%;
      width: 100%;
      fill: rgb(204, 204, 204);
    }
    &:hover {
      svg {
        fill: rgb(119, 119, 119);
      }
    }
  }
  .sidebar-options {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 35%;
    width: 100%;
    transform: translate(0, -50%);
    .sidebar-option {
      display: flex;
      position: relative;
      margin: 1rem 0;
      align-items: center;
      width: 100%;
      overflow: hidden;
      .sidebar-icon {
        svg {
          height: 30px;
          width: 30px;
          fill: rgb(190, 190, 190);
          margin: 0.5rem 1.5rem;
          &:hover {
            fill: grey;
          }
        }
      }
      .option-text {
        width: 100%;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        margin-right: 100px;
        &.hidden {
          width: 0;
          opacity: 0;
          margin-right: 0px;
        }
      }
      &.active {
        background: rgb(243, 243, 243);
        &::after {
          content: "";
          height: 100%;
          width: 6px;
          background: var(--color-primary);
        }
        .sidebar-icon {
          svg {
            fill: var(--color-primary);
          }
        }
      }
    }
  }
  &.open {
    width: 250px;
    .sidebar-toggle {
      svg {
        fill: var(--color-primary);
      }
    }
  }
}
