@use "../abstracts/mixins" as *;

.container {
  margin: 0 auto;
  position: relative;
  width: 80vw;
  height: 100%;
  @include breakpoint-down(small) {
    max-width: 960px;
  }
  @include breakpoint-down(medium) {
    max-width: 1152px;
  }
  @include breakpoint-down(large) {
    max-width: 80vw;
  }
  &.fluid {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}

.row {
  position: relative;
  display: flex;
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.align-center {
    align-items: center;
  }
  &.align-top {
    align-items: flex-start;
  }
  &.full-height {
    height: 100%;
  }
  &.no-height {
    height: 0;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
